* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: comfortaa, sans-serif;
}
body {
  background-image: url("images/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.first {
  background-color: #f0f0f0; 
  padding: 20px;
  text-align: center;
}
.secondh {
/*  background-color: #e0e0e0; */
  padding: 20px;
  text-align: center;
}


.footer {
    background-color: #323334;
    color: #fcfbfa;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-shrink: 0;
}
.return {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: left;
    align-items: center;
}


.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 60px;
    z-index: 1000;
}
.img{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}


.image-links {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
.icons {
    width: 150px;
    height: 150px;
    margin: 20px;
}
.links {
    text-align: center;
    
}
.about-me-text {
    position: fixed;
    bottom: 0%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content-wrapper {
  flex: 1; 
}