* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: comfortaa, sans-serif;
}
body {
  background-image: url("images/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.first {
  background-color: #f0f0f0; 
  padding: 20px;
  text-align: center;
}
.secondh {
/*  background-color: #e0e0e0; */
  padding: 20px;
  text-align: center;
}


.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #333; 
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    height: 60px;
    z-index: 1000;
}
#google:hover {
    color: rgb(88, 2, 2);
}

.return {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: left;
    align-items: center;
}


.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 60px;
    z-index: 1000;
}
.img{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 5px;
}

.image-links {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
.icons {
    width: 150px;
    height: 150px;
    margin: 20px;
}
.links {
    text-align: center;
    
}